body {
    background-color: rgb(233, 104, 205);
}

h1 {
    text-align: center;
}

.card {
    width: 20rem;
}

.card-body {
    padding: 1rem;
}

.card-text {
    padding: 0.5rem;
}

.container-fluid .row {
    padding-top: 2.5rem;
}